@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    margin: 0%;
    padding: 0%;
}
.Main-m{
  display: flex;
  flex-wrap: wrap;

}
.bg{
  background-color: #87E1C7;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
  
  top: 100px;
  right: 50px;
  display: flex;
  flex-wrap: wrap;
  
}
.absolutes{
  position: absolute;
  
  top: 420px;
  right: 50px;
  display: flex;
  flex-wrap: wrap;
}
.footer{
  display: flex;
  
  justify-content: center;
}
.borders{
  border: 2px solid black;
  background-color: #339476;
}
.card{
  max-width: 250px;
  margin-left: 15px;
  
}
@media only screen and (max-width: 600px) {
  .absolute{
    position: static;
    display: flex;
  
    justify-content: center;
  }
  .absolutes{
    position: static;
    display: flex;
  
    justify-content: center;
  }
  .card{
    max-width: 360px;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 997px) {
  .absolute{
    position: static;
    display: flex;
  
    justify-content: center;
  }
  .absolutes{
    position: static;
    display: flex;
  
    justify-content: center;
  }
  .card{
    max-width: 360px;
    margin-bottom: 5px;
  }

}

.flexs{
  
    width: 100%;
    height: 100%;
  }
  .new{
    box-shadow: 0 0 5px 0;
    background: inherit;
    backdrop-filter: blur(-80px);
    width: 50%;

    height: 50%;
    margin-left: 25%;
    margin-top: 1.1%;
  
  }

  .butt{
    display: flex;
    /* justify-items: center; */
    padding-top: 10px;
    padding-bottom: 40px;
    justify-content: center;
  }
  input:invalid{
    animation : shake 300ms;
  }
  .Login-button{
    padding-left: 160px;
    padding-right: 160px;
  }
  @media only screen and (max-width: 600px) 
  {
    .Login-button{
        padding-left: 50px;
        padding-right: 50px;
      }
  }
  *{box-sizing: border-box;
    margin: 0%;
  }
  